---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>
		Loading...
	</h1>
</Layout>

<script is:inline>
	const language = window.navigator.language;
  const lang = language.substring(0, 2);
	window.location.pathname = lang == 'fr' ? '/fr/' : '/en/';
</script>

