---
import Background from '../components/layout/Background.svelte';
import { backgroundRandom } from '../data/scripts/imagesRandom';
import PinkyMouse from '../components/eastereggs/PinkyMouse.svelte';
import { pwaInfo } from 'virtual:pwa-info';

const {frontmatter, title, description, image, desc} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;500;600;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter && frontmatter.title ? frontmatter.title : title ? title : "Diamant's website"}</title>
		<meta
      name="description"
      content={frontmatter && frontmatter.description ? frontmatter.description : description ? description : "The official website of Diamant."}
    />
    <meta name="keywords" content="diamant.dev,diamantdev,herisdia,diamant" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
	</head>
	<body class="bg-[#0f0f0f] overflow-hidden">
		<PinkyMouse client:only />
		<div id="container" class="scrollbar h-screen w-full flex items-center justify-center opacity-[var(--ready)]" style="transition: opacity 0.69s ease-in-out;">
  		<div id="content" class="w-full lg:w-6/7 font-Outfit">
				<div class="lg:grid items-center lg:grid-flow-row lg:grid-cols-2 lg:grid-rows-1">
    			<div id="box" class=" box text-white overflow-y-auto overflow-x-hidden grid items-center h-screen pt-16 pb-16 pl-4 pr-4 bg-[var(--bgshade)]" style="transition: background 0.69 ease-in-out;">
  					<div id="boxcontent" class="block-inline font-mundial w-full text-[#ece0f3] text-left">
    					<slot />
  					</div>
					</div>
					<Background src={frontmatter && frontmatter.bgSrc ? frontmatter.bgSrc : image ? image : backgroundRandom()} desc={frontmatter && frontmatter.bgSrcD ? frontmatter.bgSrcD : desc ? desc : 'Screenshot of the Sims 4.'} client:load />
  			</div>
			</div>
		</div>
	</body>
	<script src="/src/pwa.ts"></script>
	{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
</html>

<style is:global>
	:root {
		--primary: #b69bc9;
		--secondary: #e2ceef00;
		--bgshade: #0f0f0f;
		--selection: #ca9eec69;
		--selection-btn: #0f0f0f;
		--ready: 0;

		--bg: 69px;
		--box: -69px;
	}

	::selection {
		background: var(--selection);
		color: white;
	}

	.bg {
    transform: translateX(var(--bg));
		transition: all 0.69s ease-out;
  }

	.box {
		transform: translateX(var(--box));
		transition: all 0.69s ease-out;
	}

	@tailwind base;
	@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p, ul {
    @apply text-base mt-1 mb-1;
  }

	@tailwind components;
	@tailwind utilities;
}

	::-webkit-scrollbar {
		width: 0.4rem;
	}

	::-webkit-scrollbar-track {
		background: var(--bgshade);
		border-radius: 0.5rem;

	}

	::-webkit-scrollbar-thumb {
		background: var(--primary);
		border-radius: 0.5rem;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--secondary);
	}

	#row #button {
    color: var(--color);
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--selection-btn);
    cursor: pointer;
  }

  #row > #button:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin-left: 0rem;
  }

	#row > #button:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-right: 0rem;
  }

  #row #button:hover {
    color: white;
    border-color: var(--color);
  }
  #row #button:focus,
  #row #button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
</style>
